/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

@import "tailwindcss";

@layer base {}

@layer components {
    .p-main {
        font-size: 100px;
    }

    .btn-search {
        padding: 10px;
        background: #424242;
        color: #fff;
        border-radius: 10px;
    }

    .btn-search:hover {
        cursor: pointer;
    }
}


@layer components {
    /* .custom-glow {
        @apply bg-gradient-to-br from-[#0f0f0f] via-[#1a1a1a] to-[#0f0f0f] text-white rounded-md p-5 shadow-lg border border-neutral-800 relative overflow-hidden;
    } */
}

@layer utilities {
    @keyframes fade-in {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes shine {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(100%);
        }
    }
}

@theme {
    --font-gloria: 'Gloria Hallelujah'
}