@import "tailwindcss";

@layer base {}

@layer components {
    .p-main {
        font-size: 100px;
    }

    .btn-search {
        padding: 10px;
        background: #424242;
        color: #fff;
        border-radius: 10px;
    }

    .btn-search:hover {
        cursor: pointer;
    }
}